@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind utilities */

:root {
  --font-poppins: "Poppins", sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}
html {
  scroll-behavior: smooth;
}
.menu-btn {
  @apply text-white h-10 w-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/[0.2] backdrop:blur-2xl
   hover:bg-zinc-50/15 active:scale-95;
}
.navbar {
  @apply absolute flex justify-end h-20 w-full rounded-2xl 
   scale-90 isolate blur-sm opacity-0 invisible md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl;
}
.navbar.active {
  @apply opacity-100 scale-100 blur-0 visible;
}
.nav-links {
  @apply grid items-center px-4 h-20 text-[15px] font-medium tracking-wide text-black hover:text-[#F47013] transition-colors;
}
.nav-links.active {
  @apply text-[#F47013] border-b-2 h-20 border-[#F47013] duration-500;
}
.navbar.active-box {
  @apply absolute top-2 left-2 right-2 h-20 bg-zinc-50 rounded-lg -z-10  duration-500;
}
